<div class="navBar navBarSticky pb-3" [style.background]="bgColor">
  <div class="container content-center py-2 d-flex">
    <h2 [style.color]="menuIconAndNameColor" class="dancingB m-0"><i style="cursor: pointer;" (click)="openSideBar()" class="fas fa-bars hidden-md-up"></i> &nbsp; {{name}}</h2>
    <div class="separator"></div>
    <ul class="hidden-sm-down d-flex flex-row menu m-0">
      <li routerLink="/">Pagina Principal</li>
      <li routerLink="/dashboard">Inicio</li>
      <li>About</li>
      <li id="line">|</li>
      <li routerLink="/login">Iniciar Sesión</li>
    </ul>
  </div>
</div>

<div class="container-fluid sideBar" #sideBar [style]="{display:showSideBar?'block':'none'}">
  <div class="row" style="height:100%">
    <div class="col-9 p-4 menuSideBar bg-secondary-per" #menuSideBar>
      <div class="d-flex justify-content-between">
        <h2 class="dancingB text-white">CupcakeSweet</h2>
        <span><i (click)="closeSideBar()" class="fas fa-times" style="cursor: pointer; color: white; font-size: 1.75rem;"></i></span>
      </div>
      <ul>
        <li routerLink="/">Pagina Principal</li>
        <li routerLink="/dashboard">Inicio</li>
        <li>About</li>
        <li routerLink="/login">Iniciar Sesión</li>
      </ul>
    </div>
  </div>
</div>
