<app-auth-template [linkSpan]="'/login'" [nameSpan]="'Iniciar sesión'">
  <form formAuth class=" d-flex flex-column align-items-start full-screen" [formGroup]="registerForm" (submit)="submitRegister()">
    <label [class]="formSubmit &&registerFormControls.email.errors?'text-danger':''">{{
      registerFormControls.email.errors?.email && formSubmit?'Ingrese un E-mail válido':'Correo Electrónico'
    }}</label>
    <input type="email" formControlName="email" inputmode="email">
    <label [class]="formSubmit &&registerFormControls.password.errors?'text-danger':''">{{ registerFormControls.password.errors?.minlength && formSubmit?'Contreseña muy corta':'Contraseña'}}</label>
    <div class="d-flex align-items-center divInput">
      <input #inputPassword [type]="showPassword?'text':'password'" formControlName="password">
      <i (click)="(showPassword = !showPassword); inputPassword.focus()" class="mx-2 cursor-pointer" [class]="showPassword?'fas fa-eye-slash':'fas fa-eye'"></i>
    </div>
    <div class="mt-3 d-inline-flex justify-content-between">
      <!-- <label style="text-decoration: underline; cursor: pointer;">Olvidé mi contraseña</label> -->
      <button type="submit">Registrarse</button>
    </div>
  </form>
<!-- --------------------------------- -->
  <div class="container">
    <img src="/assets/logo.svg" alt="Logo" class="imgCardSmall my-3 cursor-pointer" routerLink="/">
    <h2 class="sarabunB">Creación de cuenta</h2>
    <h4 class="sarabunM">¿Ya tienes una cuenta?, inicia sesión</h4>
    <div class="mt-5">
      <button type="button" class="buttonLR sarabunB" routerLink="/login">Iniciar sesión.</button>
    </div>
  </div>
</app-auth-template>
