<div class="container pt-5">
  <div class="row profile">
    <div class="col-xl-12 content-center flex-column" *ngIf="(user|async) as user">
      <div class="photoUser">
        <button *ngIf="!imgCropped" class="content-center">
          <i class="fas fa-pen"></i>
        </button>
        <!-- Reset img -->
        <button (click)="(imgTemp=null);(imgCropped=null)" *ngIf="imgCropped" class="content-center">
          <i class="fas fa-times"></i>
        </button>

        <!-- Edit img (cropper) -->
        <button (click)="openModal()" style="left:0 !important;" *ngIf="imgCropped" class="content-center">
          <i class="fas fa-crop-alt"></i>
        </button>

        <!-- Current photo user -->
        <img *ngIf="!imgCropped" [src]="user.photo" alt="Photo User">
        <!-- Photo to upload -->
        <img *ngIf="imgCropped" [src]="imgCropped" alt="Photo User">

        <input accept=".png,.jpg" *ngIf="!imgCropped" class="inputImg" type="file" (change)="selectImg($event.target['files'][0])" />

      </div>
      <form (ngSubmit)="updateProfile(user.uid,user.photo)" [formGroup]="editProfileForm">
        <label class="my-3" [class]="formSubmit &&editProfileControls.username.errors?'text-danger':''">{{
          editProfileControls.username.errors?.required && formSubmit?'Nombre de usuario requerido':'Nombre de usuario'
          }}</label>
        <input type="text" [defaultValue]="user.userName" formControlName="username" [placeholder]="user.userName">

        <!-- <label class="my-3" [class]="formSubmit &&editProfile.email.errors?'text-danger':''">{{
          editProfile.email.errors?.email && formSubmit?'Ingrese un E-mail válido':'Correo Electrónico'
          }}</label>
        <input [(ngModel)]="user.email" [placeholder]="user.email" type="email" formControlName="email" inputmode="email"> -->

        <div class="mt-5  d-inline-flex justify-content-end flex-sm-row flex-column-reverse">
          <button type="submit">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-modal [title]="'Nueva foto de perfil'" *ngIf="imgTemp">
  <app-image-cropper (imageDestination)="cropImg($event)" body [src]="imgTemp"></app-image-cropper>
</app-modal>
