header{
  padding-top: 35%;
  position: relative;
  background-color: var(--primery-color);
}
header .seccion1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
}
.button-seccion1{
  width: 60%;
  background-color: var(--primary-color-button);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.5em 0;
  font-family: 'Sarabun Medium';
}

.seccion1 .row{
  height: 100%;
}
.img1{
  background-image: url('/assets/lpImages/imgSeccion1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.wave1{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.card-body p{
  font-family: "Sarabun Medium";
}

/* Seccion 3 */
.seccion3 .card img{
  transition: 0.25s;
}

.seccion3 .card:hover img{
  transform: scale(1.15);
}

.seccion3 .card{
  height: 100%;
}

.seccion3 .button-seccion1{
  width: 100%;
}

/* Seccion 4 */
.imgSeccion4{
  background-image: url('/assets/lpImages/imgSeccion4.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
}

/* Seccion5 */
.seccion5 .container{
  margin-top: -140px;
}

/* Seccion6 */
.imgSeccion6{
  background-image: url('/assets/lpImages/imgSeccion6.svg');
}

/* seccion 7 */
.imgSeccion7{
  background-image: url('/assets/lpImages/imgSeccion7.svg');
  margin-top: -7.5rem;
}

.imgCover{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Seccion 8 */
.mapa{
  margin-top: -7rem;
}


/* Large */
@media screen and (max-width:992px){
  header{
    padding-top: 55%;
  }
  header .row{
    height: 70% !important;
  }

  .seccion3 .button-seccion1{
    margin-top: auto !important;
  }

  .seccion3 .card{
    height: 100%;
  }
  .imgSeccion7{
    margin-top: -5.5rem;
  }

  .imgSeccion4,.imgSeccion6,.imgSeccion7{
    height: 10rem;
    background-size: contain;
  }
  .seccion5 .container{
    margin-top: -110px;
  }
}

/* Medium */
@media screen and (max-width:768px){
  header{
    padding-top: 65%;
  }

  header h1{
    font-size: 1.5rem;
  }
  .seccion5 .container{
    margin-top: -90px;
  }
}

/* Small */

@media screen and (max-width:576px){
  header{
    padding-top: 90%;
  }
  header h1{
    font-size: 1.25rem;
  }

  .seccion3{
    margin-top: 0.5rem;
  }
  .seccion2 h3{
    font-size: 1.75rem;
  }
  .seccion5 .container{
    margin-top: -80px;
  }

  .seccion1 .button-seccion1{
    width: 100%;
  }

}
