<div class="container-fluid bg-secondary-per p-0 footer" >
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-12">
        <h2 class="text-xl-start text-lg-start text-center dancingB text-white">{{name}}</h2>
      </div>
      <div class="my-md-3 col-xl-10 col-lg-10 col-12 content-center footerList flex-xl-row flex-lg-row flex-md-column flex-sm-column flex-column">
        <ul>
          <li>Sobre nosotros</li>
          <li>Contáctanos</li>
          <li>¿Quienes somos?</li>
          <li>FeedBack</li>
          <li>Servicios</li>
        </ul>

        <ul class="redes justify-content-md-between justify-content-sm-betweenjustify-content-between">
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-pinterest"></i></li>
          <li><i class="fab fa-tumblr"></i></li>
        </ul>
      </div>
      <hr style="color: white;">
      <div class="col-xl-12">
        <h6 class="sarabunM text-white text-center">Creado por <strong>Steven López</strong> | &copy; {{date}} Todos los derechos reservados. </h6>
      </div>
    </div>
  </div>
</div>
