.infoUserSideBar img{
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  object-fit: contain;
}
.buttonExpand{
  position: absolute;
  right: 0;
  font-size: 1.75rem;
  background-color: transparent;
  border: none;
  width: 4.75rem;
  color: white;
  transform: rotate(180deg);
  transition: 0.5s;
}
.card[aria-expanded="false"] .buttonExpand{
  transform: rotate(0deg);
}

.card-subtitle{
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
}

#settings ul{
  list-style: none;
}

#settings li{
  color: white;
  /* margin: 1.5rem 0; */
  font-family: "Sarabun Medium";
}

@media screen and (max-width:460px){
  .card-title{
    font-size: 1.15rem;
  }

  .card-subtitle{
    font-size: 1rem;
  }
}
