.infoUserNavBar img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 0.75rem;
}
.infoUserNavBar{
  text-align: center;
}

.imgUserList{
  max-height: 64px;
}
